<AuthorizeView>
  <Authorized>
    <p>context.User.Claims[0]</p>
  </Authorized>
  <NotAuthorized>
    <a href="Account/Login?redirectUri=/">Log in</a>
  </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator">
  Only Administrators can see this.
</AuthorizeView>