<AuthorizeView>
  <Authorized>
    Hello, @context.User?.Identity?.Name!
    <a href="Account/Logout">Log out</a>
  </Authorized>
  <NotAuthorized>
    <a id="login" href="Account/Login?redirectUri=/">Log in</a>
  </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator">
  Only Administrators can see this.
</AuthorizeView>