@page "/"

<PageTitle>Home</PageTitle>
<AuthorizeView>
  <Authorized>
    <table class="table">
      <tbody>
        @foreach (var claim in context.User.Claims)
        {
          <tr>
            <td>@claim.Type - @claim.Value</td>
          </tr>
        }
      </tbody>
    </table>
  </Authorized>
  <NotAuthorized>
    <h1>Hello!</h1>

    Please login to view Dashboard.
  </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator">
  Only Administrators can see this.
</AuthorizeView>
